<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://www.udemy.com/staticx/udemy/images/v7/logo-udemy.svg">
    <link rel="stylesheet" href="css/style.css">
    <title>udemy2.0</title>
</head>
<body>
    <header>
        <div class="container">
            <p class="logo">
            <a href="/">
            <img src="https://www.udemy.com/staticx/udemy/images/v7/logo-udemy.svg" alt="Udemy" width="91" height="34" loading="lazy">
            </a>
        </p>
        <div class="search-bar-container">
            <form action="GET"></form>
            <input class="search-bar"  type="text" placeholder="Busca Cualquier Cosa" > 
            <i class="fa-light fa-magnifying-glass fa-2xl" style="color: #000000;"></i>
        </div>
            <nav class="data-container2">
                <a href="#curso2" class="btn">Ofertas</a>
                <a href="#curso3"class="btn">Seleccionado para vos</a>
                <a class="btn">categorias</a>
                <a class="btn" href="/register">Crea tu cuenta</a>
                <a class="btn" href="/login">Ingresa</a>
            </nav>       
        </div>   
    </header>
    <!-- banner -->
    <section class="container" id="hero">
        <h1>Rebajas relámpago de 24hr <br>Inicia sesión para ver tus ofertas. Cursos rebajados solo durante un día. </h1>
    </section>

    <!-- presentacion -->
    <section id="somosproya">
        <div class="container">
            <div class="img-container"></div>
            <div class="texto">
            
            <h2>Una amplia selección de cursos</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio tempore sint unde voluptatem atque vel, rem nostrum, soluta suscipit debitis libero natus. Maiores autem facilis et, modi ipsam necessitatibus dignissimos.</p>
            </div>
        </div>
    </section>
   
   
    <!-- seccion de cursos 1 -->

    <section id="curso1">
        <div class="container">
        <h2>Nuestros Cursos</h2>
        <div class="programas">   
            <div class="carta">
                <img src="" alt="">
                <h3>Programador front-end</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, autem natus consequuntur necessitatibus vitae quae quasi architecto asperiores placeat est in molestias eaque pariatur omnis optio vel corrupti provident nostrum.</p>
                <button>+ Info</button>
            </div>
            <div class="carta">
                <h3>Phyton: de cero a experto</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, autem natus consequuntur necessitatibus vitae quae quasi architecto asperiores placeat est in molestias eaque pariatur omnis optio vel corrupti provident nostrum.</p>
                <button>+ Info</button>
            </div>
            <div class="carta">
                <h3>Programador back-end</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, autem natus consequuntur necessitatibus vitae quae quasi architecto asperiores placeat est in molestias eaque pariatur omnis optio vel corrupti provident nostrum.</p>
                <button>+ Info</button>
            </div>
        </div>
     </section>

        <!-- seccion de cursos 2 -->
     <section id="curso1">
        <div class="container">
            <h2>Cursos certificados</h2>
            <div class="programas"> 
            <div class="carta">
                <h3>Programador front-end</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, autem natus consequuntur necessitatibus vitae quae quasi architecto asperiores placeat est in molestias eaque pariatur omnis optio vel corrupti provident nostrum.</p>
                <button>+ Info</button>
            </div>
            <div class="carta">
                <h3>Phyton: de cero a experto</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, autem natus consequuntur necessitatibus vitae quae quasi architecto asperiores placeat est in molestias eaque pariatur omnis optio vel corrupti provident nostrum.</p>
                <button>+ Info</button>
            </div>
            <div class="carta">
                <h3>Programador back-end</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, autem natus consequuntur necessitatibus vitae quae quasi architecto asperiores placeat est in molestias eaque pariatur omnis optio vel corrupti provident nostrum.</p>
                <button>+ Info</button>
            </div>
        </div>
    </section>

        <!-- ofertas -->
    <section id="curso2">
        <div class="container">
            <h2>Ofertas</h2>
            <div class="programas"> 
            <div class="carta">
                <h3>Programador front-end</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, autem natus consequuntur necessitatibus vitae quae quasi architecto asperiores placeat est in molestias eaque pariatur omnis optio vel corrupti provident nostrum.</p>
                <button>Comprar</button>
            </div>
            <div class="carta">
                <h3>Phyton: de cero a experto</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, autem natus consequuntur necessitatibus vitae quae quasi architecto asperiores placeat est in molestias eaque pariatur omnis optio vel corrupti provident nostrum.</p>
                <button>Comprar</button>
            </div>
            <div class="carta">
                <h3>Programador back-end</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, autem natus consequuntur necessitatibus vitae quae quasi architecto asperiores placeat est in molestias eaque pariatur omnis optio vel corrupti provident nostrum.</p>
                <button>Comprar</button>
            </div>
            </div>
        </section>
        <!-- seleccionado para vos -->
        <section id="curso3">
            <div class="container">
            <h2>Seleccionados para vos</h2>
            <div class="programas"> 
            <div class="carta">
                <h3>Programador front-end</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, autem natus consequuntur necessitatibus vitae quae quasi architecto asperiores placeat est in molestias eaque pariatur omnis optio vel corrupti provident nostrum.</p>
                <button>Comprar</button>
            </div>
            <div class="carta">
                <h3>Phyton: de cero a experto</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, autem natus consequuntur necessitatibus vitae quae quasi architecto asperiores placeat est in molestias eaque pariatur omnis optio vel corrupti provident nostrum.</p>
                <button>Comprar</button>
            </div>
            <div class="carta">
                <h3>Programador back-end</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, autem natus consequuntur necessitatibus vitae quae quasi architecto asperiores placeat est in molestias eaque pariatur omnis optio vel corrupti provident nostrum.</p>
                <button>Comprar</button>
            </div>
            </div>
        </div> 
    
    </section>

    <footer>
        <div class="container">
            
        </div>
        <footer>
            <div class="content">
              <div class="left box">
                <div class="upper">
                <div><a href="#">Udemy Bunises</a></div>
                <div><a href="#">Teach on Udemy</a></div>
                <div><a href="#">Get the app</a></div>
                <div><a href="#">About us</a></div>
                <div><a href="#">contact us</a></div>   
                </div>
              </div>
              <div class="middle box">
                <div><a href="#">careers</a></div>
                <div><a href="#">Blog</a></div>
                <div><a href="#">Help And support</a></div>
                <div><a href="#">Afiliete</a></div>
                <div><a href="#">Inversion</a></div>
              </div>
              <div class="right box">
                <div><a href="#">terms</a></div>
                <div><a href="#">Privacy policy</a></div>
                <div><a href="#">cookie setting</a></div>
                <div><a href="#">Sitemap</a></div>
                <div><a href="#">Accessibility statement</a></div>
              </div>
            </div>
            <div class="bottom">
                <div class="logoFooter">
                    <img src="/img/logo-udemy2.svg" alt="UdemyFooter" width="91.07142857142857" height="34" loading="eager">
                    <div class="copyright">© 2023 Udemy2.0</div>
                </div>   
             </div>
           
    </footer>

</body>
</html>